/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&family=Playfair+Display&family=Playfair+Sans:wght@200&display=swap');

/* Other CSS styles */



html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:navy;
  color:goldenrod;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  
}


.custom-link {
    color: goldenrod;
}

.notes {
    color : goldenrod;
}
.custom-link:hover {
    color: wheat;
}

.table {
    color: wheat;
}
.navbar-brand{
    color:goldenrod;
    font-weight:bold;
}
.navbar-brand:hover{
    color:goldenrod;

}